<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.mapper.TNetworkTopologyPonAreaDayMapper">

    <resultMap id="BaseResultMap" type="com.bing.entity.TNetworkTopologyPonAreaDay">
            <result property="dataTime" column="data_time" jdbcType="DATE"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="oltIp" column="olt_ip" jdbcType="VARCHAR"/>
            <result property="ipv6Prefix" column="ipv6_prefix" jdbcType="VARCHAR"/>
            <result property="oltPon" column="olt_pon" jdbcType="VARCHAR"/>
            <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
            <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
            <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
            <result property="userNum" column="user_num" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        data_time,province,olt_ip,
        ipv6_prefix,olt_pon,province_name,
        city_name,region_name,user_num,
        update_time
    </sql>
</mapper>
